{# Banner component #}
<div class="ag-banner">
  {% if title %}
    <h2 class="ag-banner__title">{{ title }}</h2>
  {% endif %}
  {% if text %}
    <div class="ag-banner__text">{{ text }}</div>
  {% endif %}
</div>
