{# Card component #}
<article class="ag-card">
  {% if image %}
    <div class="ag-card__image">{{ image }}</div>
  {% endif %}
  <div class="ag-card__content">
    {% if title %}<h3 class="ag-card__title">{{ title }}</h3>{% endif %}
    {% if text %}<div class="ag-card__text">{{ text }}</div>{% endif %}
    {% if link %}<div class="ag-card__link">{{ link }}</div>{% endif %}
  </div>
</article>
