{# Two column layout #}
<div class="layout layout--two-column">
  <div class="layout__region layout__region--first">
    {{ content.first }}
  </div>
  <div class="layout__region layout__region--second">
    {{ content.second }}
  </div>
</div>
