{# Sidebar page layout #}
<div class="layout layout--sidebar">
  <aside class="layout__sidebar">
    {{ page.sidebar_first }}
  </aside>
  <main class="layout__main">
    {{ page.content }}
  </main>
</div>
